<!DOCTYPE html>
<html>
<head><title>Form Pasien</title></head>
<body>
    <h2>Input Data Pasien</h2>
    <h4>menggunakan lowercase</h4>
    <form action="/recommend" method="post">
        <label>Gender (female/male) :</label><br>
        <input type="text" name="gender"><br><br>

        <label>Age:</label><br>
        <input type="number" name="age"><br><br>

        <label>Symptoms (pisahkan koma):</label><br>
        <input type="text" name="symptoms"><br><br>

        <input type="submit" value="Diagnosa">
    </form>
</body>
</html>
